.sim-city {
  position: relative;
  width: 100%;
  height: 600px;
  background-image: url(../sim-city-bomb-squad/img/simcity.jpg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.bomb {
  position: absolute;
  width: 200px;
  height: 300px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.timer {
width: 99%;
height: 50px;
border: 2px solid red;
color: red;
font-size: 24px;
line-height: 50px;
text-align: center;;
}

.wires {
  width: 99%;
  height: 210px;
  border: 2px solid red;
}

.reset {
  width: 99%;
  height: 40px;
  border: 2px solid red;
}

.exploded {
  width: 100%;
  height: 600px;
  background-image: url(../sim-city-bomb-squad/img/explosion.jpg);
  visibility: hidden;
  display: flex;
}
